body {
    font-family: 'Montserrat', sans-serif; 
}

h1 { 
    font-size: 2.85rem;  
    line-height: 1.5;  
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 900;
}

h2 {
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 700;
}

#title {
    background: linear-gradient(.25turn,#ed3654,#ff4161,#ff4c68);
    color: #fff;
    
}

.container-fluid{
    padding: 3% 15% 7%;
}


/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
}

.nav-item {
    padding: 0 18px;
    
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 200;
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

.iphone img {
    transform: rotate(25deg);
    width: 70%; 
    position: absolute;
    right:30%;
    
}

#features {
    background-color: white;
    padding: 7% 15%;
    position:relative;
   
}

.feature-box {
    text-align: center;
    padding: 2%
}

.feature-box p{
    font-size: .9rem;
}

.feature-icon {
    color:#ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color:#ff4c68
}

/* testimonial section */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color:#fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding:3% 2%;
}

/* call to action */

#cta {
    color: #fff;
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
    font-weight: 700;
    
}

#cta h3 {
    font-size: 2.5rem;
    margin: 10px 0;
}

/* footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}
#footer p{
    padding-top: 20px;
    color:grey
}

.social-icons{
    margin:20px 10px;
}

@media (max-width: 1028px){
    .iphone img{
        position: static;
        transform: rotate(0);
    }
    #title {
        text-align: center;
    }

}

